
#health-cont {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
    margin-top: -54%;
}

#health-tri-box{
    width: 100%;
    height: 0;
    padding-left:0%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    z-index: 530;
}

#health-triangle-top {
    width: 0; 
    margin-top:-1000px;
    border-right: 2000px solid #fff;
    border-top: 1000px solid transparent;  
}
#health {
    width: 100%;
    position: relative;
    background-color: #fff;     
    text-align: center;
    margin:0 auto;
    z-index: 531;
    padding-bottom: 1px;
}

#health h4 {
    padding-top: 20px;
}

#footer-image {
    padding-top: 40px;
    padding-bottom: 30px;
}

#footer {
    background-color: #000;
    z-index: 650;  
    position: relative;
}

#footer-text {
    padding-bottom: 30px;
    text-align: center;
}

.foot-bub {
    float: left;
    height: 100px;
    margin-bottom: 20px;
}

.foot-square-img {
    cursor: pointer;
    /*height: 100%;*/
    position: relative;
    z-index: 100;
    padding-bottom: 10px;
}

.foot-square-img div {
    position: absolute;
    top: 25%;
    text-align: center;
}

#footer-squares {
    padding-bottom: 50px;
}

#fbimg1 {background:url(../files/pngs/54_footer_fundraisers.png);}
#fbimg2 {background:url(../files/pngs/55_footer_careers.png)}
#fbimg3 {background:url(../files/pngs/56_footer_instagram.png)}
#fbimg4 {background:url(../files/pngs/57_footer_email.png)}

#fbimg1:hover {
    background:
        linear-gradient(
          rgba(255,255,255,0.45), 
          rgba(255,255,255,0.45)
        ),
        url(../files/pngs/54_footer_fundraisers.png);
}
#fbimg2:hover {
    background:
        linear-gradient(
          rgba(255,255,255,0.45), 
          rgba(255,255,255,0.45)
        ),
        url(../files/pngs/55_footer_careers.png)
}
#fbimg3:hover {
    background:
        linear-gradient(
          rgba(255,255,255,0.45), 
          rgba(255,255,255,0.45)
        ),
        url(../files/pngs/56_footer_instagram.png)
}
#fbimg4:hover {
    background:
        linear-gradient(
          rgba(255,255,255,0.45), 
          rgba(255,255,255,0.45)
        ),
        url(../files/pngs/57_footer_email.png)
}

#fbimg1,
#fbimg2,
#fbimg3,
#fbimg4
{
    /*border: 1px solid #ff00ff;*/
    width: 100px;
    cursor: pointer;
    height: 100%;
    margin: 0 auto;
    /*float: left;*/
    z-index: 100;
    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
}

.foot-bub-text {
    padding-top: 5px;
    text-align: center;
}