#skrollr-body {
    position: relative;
    width: 100%;
    /*height: 5100px;*/
    height: auto;
    overflow-x:hidden;
    overflow-y: hidden; 
    /*edit to get rid of double bar*/
}


.skrollable {
    /*
     * First-level skrollables are positioned relative to window
     */
    position:fixed;

    /*
     * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
     */
    z-index:100;
}

.skrollr-mobile .skrollable {
    /*
        May cause issues on Android default browser (see #331 on GitHub).
    */
    position:absolute;
}

.skrollable .skrollable {
    /*
     * Second-level skrollables are positioned relative their parent skrollable
     */
    position:absolute;
}

.skrollable .skrollable .skrollable {
    /*
     * Third-level (and below) skrollables are positioned static
     */
    position:static;
}

/*div {
    border: 1px solid #ff00ff;
}*/

 #master_container {
    font-family: 'futura-pt',sans-serif;
    position: relative;
    /*height: 1000px;*/
    width: 100%;
    background-color: transparent;
 }


#bg1-cont {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#bg1 {
    /*position: absolute;*/
    margin-top: -35%;
    width: 100%;
    height: 0;
    background:url(../files/pngs/02_laSkyline.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 149.8%;
    float: left;
}

#title {
    position: absolute;
    text-align: center;
    width: 100%;   
    margin-top: 50%;
    z-index: 300;
}

/*Elements*/

#savor-container {    
    position: relative;
    width: 100%;
    height: auto;
    /*position: absolute;*/
    z-index: 100;
    margin-top: -55%;
}

#savor {    
    width: 100%;
    height: 0;
    padding-left:0%;
    padding-bottom: 50%;
    overflow: hidden;
    /*position: absolute;*/
    background-color: transparent;
    z-index: 52;
}
/*#savor-text {
    position: absolute;
    top: 30%;
    background-color: pink;
    padding-left: 5%;
    z-index: 51;
}*/

.triangle-top {
    width: 0; 
    /*height: 100px;*/
    margin-left:-1000px;
    border-left:1000px solid transparent;
    border-right: 2000px solid transparent;
    border-bottom: 1000px solid #000;
}

#savor-box {
    width: 100%;
    position: relative;
    height: 100px;
    background-color: #000;
}

#savor-bottom {
    width: 100%;
    height: 0;
    padding-left:0%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
    /*clear: both;*/
    background-color: transparent;
    /*top: 725px;*/
    z-index: 53;
}

.triangle-bottom {
    width: 0; 
    /*height: 100px;*/
    margin-left:-1000px;
    border-left:1000px solid transparent;
    border-right: 2000px solid #000;
    border-bottom: 1000px solid #f6a11e;
}

.line1 {
    width: 223%;
    border-top: 1px solid #fff;
    -webkit-transform: translateY(0px) translateX(0px) rotate(-26.5651deg);
    position: absolute;
    top: 0px;
    margin-left: -20.5%;
    margin-top: 4.5%;
}

.line2 {
    width: 223.6%;
    border-top: 1px solid #f6a11e;
    -webkit-transform: translateY(0px) translateX(0px) rotate(26.5651deg);
    position: absolute;
    top: 0px;
    margin-left: -111.8%;
    margin-top: 0;
}

.orange {
    border-top: 1px solid #f6a11e;
}

#savor-bottom-box {
    width: 100%;
    position: relative; /*switch to relative on mobile*/
    height: 500px;
    background-color: #f6a11e;    
}

#orange-bottom {
    width: 100%;
    height: 0;
    padding-left:0%;
    padding-top: 50%;
    /*margin-top: -10%;*/
    overflow: hidden;
    position: relative;
    background-color: transparent;
    z-index: 530;

}

#orange-bottom-triangle {
    width: 0; 
    margin-top:-1000px;
    border-right: 2000px solid transparent;
    border-top: 1000px solid #f6a11e;   
}

#relate-cont {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    left: -15%;
}

#relate {
    margin-top: -39%;
    width: 153%;
    height: 0;
    background: url(../files/pngs/08_closeupFood.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
    transform: rotate(-16deg);
    /*padding-top: 220.3%;*/
    padding-top: 125%;
}
#health-cont {
    position: relative;
    width: 100%;
    height: auto;
    /*height: 100px;*/
    z-index: 100;
    margin-top: -54%;
    /*background-color: pink;*/
}

#health-tri-box{
    width: 100%;
    height: 0;
    padding-left:0%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    z-index: 530;
}

#health-triangle-top {
    width: 0; 
    margin-top:-1000px;
    border-right: 2000px solid #fff;
    border-top: 1000px solid transparent;  
}
#health {
    width: 100%;
    position: relative;
    height: 200px;
    background-color: #fff;     
}

#our-food-cont {    
    position: relative;
    width: 100%;
    height: auto;
    z-index: 100;
}

#our-food {
    width: 100%;
    position: relative;
    height:500px;
    background-color: #fff;     
}
#l3 {
    margin-top: 25%;
}

#locations-cont, #partners-cont, #partners-bottom-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 90;
}

#locations-line {
    width: 100%;
    position: relative;
    height: 1000px;
    background-color: #fff;        
}

#locations-box {
    width: 100%;
    position: relative;
    height: 400px;
    background-color: #fff;   
    z-index: -10        
}

#l4 {
    border-top: none !important;
    height: 20px;
    background:
    linear-gradient(
      rgba(246, 161, 30, 0.3),
      rgba(246, 161, 30, 0.3)
    ),url(../files/pngs/18_orangeStripes.png);
    background-repeat: repeat;
    /*z-index: 110;*/
    top: 50%;
}

#partners {
    /*position: absolute;*/
    /*margin-top: -35%;*/
    width: 100%;
    height: 0;
    background:url(../files/pngs/27_partners_cactusBackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 169.3%;
    float: left;
}

#partners-bottom-container {
    margin-top: -40%;
    z-index: 200;
}

#partners-bottom {
    width: 200%;
    position: relative;
    /* height: 400px; */
    height: 500px;
    background-color: transparent;
    background: url(../files/pngs/44_blackBar.png);
    background-repeat: no-repeat;
    background-size: contain;
}