/*Color Pallete*/
/*
Black:;
white
blue ocean:rgb(146,199,237)
yellow rgb(254,246,72)
green rgb(14,220,164)
red 
pink
purple
land-blue rgb(0,161,231)

*/


/*.c1:hover {color: rgb(0,161,231); background-color: rgb(0,161,231);}
.c2:hover {color: rgb(254,246,72); background-color: rgb(254,246,72);}
.c3:hover {color: rgb(249,101,91); background-color: rgb(249,101,91);}
.c4:hover {color: rgb(132,104,214); background-color: rgb(132,104,214);}*/
#projects-text h1 span {
    /*color: transparent;*/
}

.c1 {color:#000; text-shadow: -2px 2px 4px rgb(0,161,231);}
.c2 {color:#000; text-shadow: -2px 2px 4px rgb(254,246,72);}
.c3 {color:#000; text-shadow: -2px 2px 4px rgb(249,101,91);}
.c4 {color:#000; text-shadow: -2px 2px 4px rgb(132,104,214);}

#projects-text h1 span:hover {
    color: transparent;
    /*text-shadow: none;*/
}

#skrollr-body {
    position: relative;
    width: 100%;
    /*height: 5100px;*/
    height: auto;
    overflow-x:hidden;
    overflow-y: hidden; 
    /*edit to get rid of double bar*/
}


.skrollable {
    /*
     * First-level skrollables are positioned relative to window
     */
    position:fixed;

    /*
     * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
     */
    z-index:100;
}

.skrollr-mobile .skrollable {
    /*
        May cause issues on Android default browser (see #331 on GitHub).
    */
    position:absolute;
}

.skrollable .skrollable {
    /*
     * Second-level skrollables are positioned relative their parent skrollable
     */
    position:absolute;
}

.skrollable .skrollable .skrollable {
    /*
     * Third-level (and below) skrollables are positioned static
     */
    position:static;
}

/*TYPOGRAPHY*/
.row .white-text    {
    color: #fff !important;
}

/*Typography*/
.row h1, .row h2, .row h3, .row h4, .row h5, p {
    color:#000;
    text-transform: uppercase;
    line-height: normal;
    font-family: 'Central Union Neon',sans-serif;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.serif {
    /*font-family: serif;*/
    font-family: 'NotoSerif-Italic',georgia,serif !important;
    /*font-family: "NotoSerif-Italic",georgia;*/
    text-transform: none !important;
    /*font-style: italic !important;*/
}

.filled {
    font-family: 'Central Union Filled',sans-serif !important;
}

.arvo {
    font-family: 'Arvo', serif !important;
}

.row h1 {
    letter-spacing: .2rem; font-size: 2.5rem;
}

.row h2 {
    letter-spacing: .2rem;
}

.row h3 {
    letter-spacing: .2rem;
}

.row h4 {
}

.row h5 {
}

.row h4.serif {
    letter-spacing: .1rem;
    line-height: 110%;
}

/*content elements*/
#header {
    /*background-color: #fff;*/
    /*background-color: rgb(146,199,237);*/
    /*background-color: rgba(203,230,251,0.7);*/
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    width: 100%;
    z-index: 100;
    position: fixed;
}

#header h2 {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-size: 0.2rem;
    letter-spacing: 0.05rem;
    /*color: rgb(146,199,237);
    color: rgb(254,246,72);*/
}

.head-text {
    position: relative;
    float: right;
    margin-left: 15px;
}

.head-text:first-child {
    float: left;
    margin-left: 5px;
}

#topLogo {
    position: fixed;
    margin-top: 8%;
    margin-bottom: 8%;
    z-index: 30;   
}

#topLogo, #title, #title2, #header {
    max-width: 1300px;
}

#topLogo img {
    margin: 0 auto !important;
    width: 15%;
    min-width: 100px;
    display: block;
    /*width: 100%;*/
}

#title, #title-mobile {
    position: fixed;
    text-align: right;
    width: 100%;
    margin-top: 5%;
    z-index: 30;
}

#title2 {
    position: fixed;
    text-align: left;
    width: 100%;
    margin-top: 5%;
    z-index: 30;   
}

#title2 a {
    color: #fff;
}

#title2 a:hover {
    text-decoration: none !important;
    text-shadow: -2px 2px 4px #e700a1;
=}

#title-mobile {
    margin-top: 0%;
}

#title-mobile h1:first-child {
    display: block;
    text-align: left;
    position: absolute;
}

#meaningful {
    color: #fff;
    background-color: #000 !important;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -28%;
}

/*background*/

#master_container {
    font-family: 'Central Union Filled',sans-serif;
    position: relative;
    width: 100%;
    background-color: transparent;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
 }

#bg0-cont,
#dan-fold-mobile-cont,
#projects-container,
#header-container
{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 90;
}

#bg0-cont{
    z-index: -10;
}

#dan-fold-mobile-cont {
    z-index: 1;
}

#bg2-cont {
    z-index: -12;
    position: relative;
}

#bg0 {
    position: fixed;
    /*margin-top: -50%;*/
    width: 130%;
    height: 0;
    background:url(../files/dan/dan_fold.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 165.8%;
    float: left;
    display: none;
    left: -30%;    
}

#dan-fold-mobile {
    /*margin-top: 12px;*/
    width: 110%;
    height: 0;
    background:url(../files/dan/dan_fold.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 110%;
    float: left;
}

#projects-container {    
    z-index: 100;
    margin-top: -55%;
}

#projects-triangle {    
    width: 100%;
    height: 0;
    padding-left: 50%;
    padding-bottom: 10%;
    overflow: hidden;
    z-index: 52;
    margin: 0 auto;
}

#projects-triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-3000px;
    border-left: 3000px solid transparent;
    border-right: 3000px solid transparent;
    border-bottom: 500px solid #000;
}
/*Down pointing*/
.triangle-down, .triangle-down2 {
    width: 100%;
    height: 0;
    padding-left:50%;
    padding-top: 10%;
    overflow: hidden;
    margin: 0 auto;
}
.triangle-down:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-3000px;
    margin-top:-500px;
    border-left: 3000px solid transparent;
    border-right: 3000px solid transparent;
    border-top: 500px solid #000;
}

.triangle-down2:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-3000px;
    margin-top:-500px;
    border-left: 3000px solid #000;
    border-right: 3000px solid #000;
    border-top: 500px solid transparent;
}   

#projects-text {
    z-index: 1001;
    text-align: center;
    background-color: #000;
    padding-top: 40%;
}

#bg1-cont, #dan-laugh-mobile-cont {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    left: -15%;
}
#bg1-cont {
    z-index: -11;
}

#dan-laugh-mobile-cont {
    /*display: none;*/
}

#dan-laugh-mobile {
    margin-top: -39%;
    width: 153%;
    height: 0;
    background: url(../files/dan/dan_laugh.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /*padding-top: 220.3%;*/
    padding-top: 125%;
}

#bg1 {
    position: fixed;
    /*margin-top: -50%;*/
    width: 110%;
    height: 0;
    background:url(../files/dan/dan_laugh.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 165.8%;
    float: left;
    display: none;
    left: -10%;    
}

@media only screen and (max-width: 642px) {

}

@media only screen and (min-width: 40.063em) { 
    #header h2 {
        font-size: 1rem;
    }

    .head-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    .head-text:first-child {
        margin-left: 10px;
    }

    .row h1 {
        /*font-size: 40px;    */
        font-size: 4.8rem;
        letter-spacing: .4rem;
    }

    .row h2 {
        /*font-size: 32px;*/
        font-size: 2rem;
        letter-spacing: .4rem;
    }

    .row h3 {
        /*font-size: 26px;*/
        font-size: 1.5rem;
        letter-spacing: .4rem;
    }

    .row h4 {
        /*font-size: 20px;*/
        font-size: 1.2rem;
    }

    .row h5 {
        /*font-size: 16px;*/
        font-size: 1rem; 
    }

    #bg0, #bg1  {display:block;}
    #dan-fold-mobile,#dan-laugh-mobile {
        background: transparent;
    }
    #projects {padding-bottom: 20%;}
    #projects-box {padding-top: 30%;}
    #projects-bottom-box {height: 0;padding-top: 0}
    #meaningful {
        margin-top: -20%;
    }
    #footer {
        margin-bottom: 400px;
    }

} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) { 
    #header h2 {
        font-size: 2rem;
    }

    #projects-box {padding-top: 9%;}    
    #master_container {
        width: 90%;
    }
    #topLogo, #title, #title2, #header {
        width: 90%;
    }
    .row h1 {
        font-size: 8.8rem;
    }

} /* min-width 1025px, large screens */


@media only screen and (min-width: 500px) { 

}


@media only screen and (max-width: 320px) { 
    .row h1 {
        /*font-size: 28px*/
    }
    .row h2 {
        /*font-size: 26px;*/
    }
}