div {
    border: 1px solid #ff00ff;
}

 #master_container {
    font-family: 'futura-pt',sans-serif;
    position: relative;
    width: 100%;
    background-color: transparent;
 }

.row .white-text    {
    color: #fff !important;
}

/*Typography*/
.row h1, .row h2, .row h3, .row h4, .row h5 {
    color:#000;
    text-transform: uppercase;
    line-height: normal;
    font-family: 'futura-pt',sans-serif;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.serif {
    font-family: "Georgia Cava",Georgia,serif !important;
    text-transform: none !important;
    font-style: italic !important;
}

.row h1 {
    letter-spacing: .2rem;
}

.row h2 {
    letter-spacing: .2rem;
}

.row h3 {
    letter-spacing: .2rem;
}

.row h4 {
}

.row h5 {
}

.row h4.serif {
    letter-spacing: .1rem;
    line-height: 110%;
}

/*Elements*/

#topLogo {
    position: fixed;
    margin-top: 10%;
    margin-bottom: 10%;
    z-index: 30;
}

#topLogo img {
    margin: 0 auto !important;
    width: 15%;
    min-width: 100px;
    display: block;
}

#title {
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: 25%;
    z-index: 30;
}
#savor-container {
    position: relative;
    left: 0px;
    top: 500px;
}

#savor {    
    width: 100%;
    height: 0;
    padding-left:0%;
    padding-bottom: 50%;
    overflow: hidden;
    position: absolute;
    background-color: transparent;
    top: 200px;
    z-index: 52;
}
#savor-text {
    position: absolute;
    top: 30%;
    /*background-color: pink;*/
    /*width: 1000px !important;*/
    padding-left: 5%;
    z-index: 51;
}

.triangle-top {
    width: 0; 
    /*height: 100px;*/
    margin-left:-1000px;
    border-left:1000px solid transparent;
    border-right: 2000px solid transparent;
    border-bottom: 1000px solid #000;
}

#savor-bottom {
    width: 100%;
    height: 0;
    padding-left:0%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
    /*clear: both;*/
    background-color: transparent;
    top: 725px;
    z-index: 53;
}

.triangle-bottom {
    width: 0; 
    /*height: 100px;*/
    margin-left:-1000px;
    border-left:1000px solid transparent;
    border-right: 2000px solid #000;
    border-bottom: 1000px solid #f6a11e;
}

@media only screen and (min-width: 40.063em) { 
    .row h1 {
        /*font-size: 40px;    */
        font-size: 2.8rem;
        letter-spacing: .4rem;
    }

    .row h2 {
        /*font-size: 32px;*/
        font-size: 2rem;
        letter-spacing: .4rem;
    }

    .row h3 {
        /*font-size: 26px;*/
        font-size: 1.5rem;
        letter-spacing: .4rem;
    }

    .row h4 {
        /*font-size: 20px;*/
        font-size: 1.2rem;
    }

    .row h5 {
        font-size: 16px;
        font-size: 1rem; 
    }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) { 
} /* min-width 1025px, large screens */


@media only screen and (max-width: 480px) { 
    .row h2 {
        /*font-size: 30px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        letter-spacing: .05rem;*/
    }
    .row h3 {
        /*font-size: 16px;
        margin-top: .25rem;
        margin-bottom: .25rem;*/
    }
    .row .inner-text {
        /*font-size: 18px !important;
        line-height: 18px !important; 
        letter-spacing: 0rem;*/
    }
}


@media only screen and (max-width: 320px) { 
    .row h1 {
        /*font-size: 28px*/
    }
    .row h2 {
        /*font-size: 26px;*/
    }
}