    <div class="off-canvas position-right" id="offCanvas" data-position="right" data-off-canvas>

      <!-- Close button -->
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- Menu -->
      <ul class="vertical menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#resume-container">Resume</a></li>
        <li><a class="scroll" href="#about">About</a></li>        
      </ul>

    </div>