<div class="row">
	<div class="large-8 small-centered">
    <div class="proj-subhead large-12">
      <!-- <h2>Charts and Maps</h2> -->
    </div>
		{% for post in site.posts %}
      {% assign this-post = post %}      
      {% if post.type != "art" %}
        {% include subproject.html param=this-post variable-param=page.variable %}
      {% endif %}
		{% endfor %}
  </div>
</div>
<div class="row">
  <div class="large-8 small-centered">
    <div class="proj-subhead large-12">
      <!-- <h2>Front End Development</h2> -->
    </div>
    <!-- {% for post in site.posts %}
      {% assign this-post = post %}      
      {% if post.type == "dev" %}
        {% include subproject.html param=this-post variable-param=page.variable %}
      {% endif %}
    {% endfor %} -->
  </div>
</div>
<!-- <div class="row">
  <div class="large-8 small-centered">    
    <div class="proj-subhead large-12">
      <h2>Odds and Ends</h2>
    </div>
    <div class="proj large-6 medium-6 small-12 columns">                  
      <div class="thumbnail">
      <a target="_blank" href="/art.html">
        <div class="overlay">
          <div class="overlay-inset">
            <div class="overlay-inset-top">
              <h2 class="arvo">{{ include.param.title }}</h2>                          
            </div>                        
            <div class="overlay-inset-bottom">
              <h3>{{include.param.description}}</h3>
            </div>
          </div>                        
        </div>
        <img src="files/projects/{{ include.param.img }}">
      </a>
      </div>                                              
    </div>
    <div class="proj large-6 medium-6 small-12 columns">                  
      <div class="thumbnail">
      <a target="_blank" href="{{ include.param.link }}">
        <div class="overlay">
          <div class="overlay-inset">
            <div class="overlay-inset-top">
              <h2 class="arvo">{{ include.param.title }}</h2>                          
            </div>                        
            <div class="overlay-inset-bottom">
              <h3>{{include.param.description}}</h3>
            </div>
          </div>                        
        </div>
        <img src="files/projects/{{ include.param.img }}">
      </a>
      </div>                                              
    </div>
	</div>
</div> -->
