<div class="row">
	<div class="large-8 small-centered">
    <div class="proj-subhead large-12">
      <h2>Charts and Maps</h2>
    </div>
		{% for post in site.posts %}
      {% assign this-post = post %}      
      {% if post.type == "chart" %}
        {% include subproject.html param=this-post variable-param=page.variable %}
      {% endif %}
		{% endfor %}
  </div>
</div>
<div class="row">
  <div class="large-8 small-centered">
    <div class="proj-subhead large-12">
      <h2>Front End Development</h2>
    </div>
    {% for post in site.posts %}
      {% assign this-post = post %}      
      {% if post.type == "dev" %}
        {% include subproject.html param=this-post variable-param=page.variable %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="large-8 small-centered">    
    <div class="proj-subhead large-12">
      <h2>Odds and Ends</h2>
    </div>
    {% for post in site.posts %}
      {% assign this-post = post %}      
      {% if post.type == "odds" %}
        {% include subproject.html param=this-post variable-param=page.variable %}
      {% endif %}
    {% endfor %}
	</div>
</div>