<div class="row">
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
        <a href="#"><span class="title-bar-title"><h1 class="white-text mobile-title">Daniel Wood</h1></span></a>
      </div>
      <div class="title-bar-right" data-magellan>
        <a href="#projects"><span class="title-bar-title"><h1 class="white-text mobile-title">Projects</h1></span></a>&nbsp;&nbsp;
        <a href="#resume"><span class="title-bar-title"><h1 class="white-text mobile-title">Resume</h1></span></a> &nbsp;&nbsp;<a href="#about"><span class="title-bar-title"><h1 class="white-text mobile-title">About</h1></span></a> 
        
        <!-- <button class="menu-icon" type="button" data-open="offCanvas"></button> -->
      </div>
    </div>
  </div>
</div>