
// overall styles
html {
  scroll-behavior: smooth;
}

.clearer {
    clear: both;
}

.breaker {
    border-bottom: 2px solid white;
    padding-top: 20px;
    margin-bottom:20px;
}

.off-canvas {
    background-color: rgba(255,255,255,0);
}

.off-canvas .menu>li>a, .off-canvas .close-button {
    color: #fff !important;
}

.off-canvas .menu>li>a {
    font-size: 200%;
}

.social-media-list {
    list-style: none;
    margin: 0;

    li {
	    display: inline-block;    

	    a { 
		    color: #fff;
		    font-size: 1.8rem;

		    &:hover { 
			    color: #000;
			}
		}
	}
}

.title-bar-left .social-media-list li a { 
    font-size: 20px;   
}

#projects-box h1 span {
    /*color: transparent;*/
    &:hover {
    	color: transparent;	
    }
}


.off-canvas-content {
    background-color: transparent;
}


/*content elements*/
#header {    
    background-color: rgba(0,0,0,0.6);
    padding: 5px;
    width: 100%;
    z-index: 100;
    position: fixed;

    h2 {
	    margin: 0;
	    padding: 0;
	    font-family: 'Arvo', serif;
	    font-size: 0.2rem;
	    letter-spacing: 0.05rem;
	    /*color: rgb(146,199,237);
	    color: rgb(254,246,72);*/
	}
}



.head-text {
    position: relative;
    float: right;
    margin-left: 15px;

    &:first-child {
	    float: left;
	    margin-left: 5px;
	}
}


#topLogo, #title2, #header {
    max-width: 1300px;
}

.title-bar {
    z-index: 1102 !important;
} 

.title-bar.is-at-top {
    height: 40px !important;
}

.title-bar-title h1 {
    margin-bottom: 0px;
    font-size: 20px !important;
    letter-spacing: 1px !important;
}


#title {
    position: fixed;
    text-align: right;
    /*max-width: 100%;*/
    margin-top: 5%;
    z-index: 30;
    top: 0px;
}

#title2 {
    position: fixed;
    text-align: left;
    width: 100%;
    margin-top: 5%;
    z-index: 30;   

    a {
	    color: #fff;

	    &:hover {
		    text-decoration: none !important;
		    text-shadow: -2px 2px 4px #e700a1;
		}
	}
}

/*background*/
#master_container {
    font-family: 'Central Union Filled',sans-serif;
    position: relative;
    width: 100%;
    background-color: transparent;
    /*max-width: 1300px;*/
    margin: 0 auto;
    overflow: hidden;

    .row {
	    max-width: none;
	}
 }

#bg0-cont,
#dan-fold-mobile-cont,
#title-container,
#projects-container,
#resume-container,
#about-container,
#header-container
{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 90;
}

#bg0-cont{
    z-index: -10;
}

#dan-fold-mobile-cont {
    z-index: 1;
}

#bg2-cont {
    z-index: -12;
    position: relative;
}

#bg0 {
    position: fixed;
    /*margin-top: -50%;*/
    width: 130%;
    height: 0;
    /*background:url(../files/pattern1.png);*/
    background:url(../files/dan/dan_fold.jpg);
    /*background: url(/files/IMG_1710.JPG);*/
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 165.8%;
    float: left;
    display: none;
    left: -30%;    
}

#dan-fold-mobile {
    /*margin-top: 12px;*/
    margin-left: -3%;
    width: 110%;
    height: 0;
    background:url(../files/dan/dan_fold.jpg);
    /*background: url(/files/IMG_1710.JPG);*/
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 110%;
    float: left;
}

#title-container {
    margin-top: -105%;
    text-align: right;
}

.secondary #projects-container {    
    margin-top: -85%;

}

#projects-container {    
    z-index: 100;
    margin-top: -59%;
}

.double-project-container {
    background-color: #000;
}

.double-white-container {
    background-color: #fff;
}

.up-headline-triangle, .end-triangle {    
    width: 100%;
    height: 0;
    padding-left: 50%;
    padding-bottom: 10%;
    overflow: hidden;
    z-index: 52;
    margin: 0 auto;
}

.up-headline-triangle:after, .end-triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-3000px;
 }

.up-headline-triangle:after {
    border-left: 3000px solid transparent;
    border-right: 3000px solid transparent;
    border-bottom: 500px solid rgba(0,0,0,0.50);
}

.end-triangle:after {
    border-left: 3000px solid black;
    border-right: 3000px solid black;
    border-bottom: 500px solid transparent;
}

.end-triangle.white:after {
    border-left: 3000px solid white;
    border-right: 3000px solid white;
}

.thumbnail {
    position: relative;
    // margin-top: 1rem;
    cursor: pointer;
    padding:0px;
    // width: 100%;
}

a img {
    width: 100%;
}

.test {
    color: #fff;
    font-family: 'Arvo', serif;
}

.overlay {
    position: absolute;
    width: 100%;
    padding-top: 55%;
    opacity: 0;
    background-color: rgba(255,255,255,0.7);
    transition: all 0.8s ease;

    &:hover {
	    transition: all 0.8s ease;
	    opacity: 1;
	}
}


.overlay-inset {
    text-align: center !important;

    h2 {
	    color: white;
	}

	h3 {
        color: white;
	    font-family: 'Arvo', serif;
	    text-align: left;
	    text-transform: none !important;
	    font-size: 1rem;
	    letter-spacing: 0px;  
	}
}

/*Down pointing*/
.down-headline-triangle {
    width: 100%;
    height: 0;
    padding-left:50%;
    padding-top: 10%;
    overflow: hidden;
    margin: 0 auto;
}

.secondary .down-headline-triangle:after {
    border-top: 500px solid rgba(0,0,0,0);
}

.down-headline-triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-3000px;
    margin-top:-500px;
    border-left: 3000px solid #000;
    border-right: 3000px solid #000;
    border-top: 500px solid rgba(0,0,0,0.50);
}   

.down-headline-triangle.white:after {
    border-left: 3000px solid #fff;
    border-right: 3000px solid #fff;
}


.text-box {
    font-family: 'Arvo', serif;
    padding: 10px;

    h6, h3 {
	    font-family: 'Arvo', serif;
	    letter-spacing: 2px !important;
	    text-transform: none;
	}

	p {
	    font-family: 'Arvo', serif;
	    text-transform: none;
	}
}

#projects-box {
    text-align: center;
}

.proj-subhead {
    text-align: center;
    padding-top: 20px;

    h2 {
	    color: #fff;
	}
}

#about-box, #resume-box, #projects-box {
    z-index: 1001;   
    background-color: #fff;    
}

#about-text, #resume-text, #projects-text {
    z-index: 1001;
    text-align: center;
    background-color: rgba(0,0,0,0.50);
    /*padding-top: 40%;   */

    h1 {
    	    margin-bottom: 0;
	    line-height: 20%;
	    letter-spacing: 10px;
    }
}

.proj {
    background-color: #000;
    padding-bottom:10px;
}

.offset2 {
    margin-left: -50px;
}

.offset {
    margin-left: -25px;
}

#bg1-cont, #dan-laugh-mobile-cont {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    left: -12%;
}
#bg1-cont {
    z-index: -11;
}

#dan-laugh-mobile-cont {
    /*display: none;*/
}

#dan-laugh-mobile {
    margin-top: -10%;
    width: 115%;
    /*height: 0;*/
    background: url(../files/dan/dan_laugh.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /*padding-top: 220.3%;*/
    padding-top: 75%;
}

#bg1 {
    position: fixed;
    /*margin-top: -50%;*/
    width: 150%;
    height: 0;
    /*background:url(../files/dan/dan_laugh.jpg);*/
    background:url(../files/pattern7.png);
    background-repeat: repeat;
    background-size: 300px 260px;
    padding-top: 165.8%;    
    display: none;    
}

.thumbnail.bubble {
    margin-right: 10px;
    margin-left: 10px;
}

.small-title {

    h2 {
        color: white !important;
        font-weight: bold;
        text-align: center;
        letter-spacing: .2rem;
        font-size: 1.00rem;    
    }
    
}

@media only screen and (min-width: 40.063em) { 
    #header h2 {
        font-size: 1rem;
    }

    .head-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    .head-text:first-child {
        margin-left: 10px;
    }

    .row {
    	h1 {
	        /*font-size: 40px;    */
	        font-size: 4.8rem;
	        letter-spacing: .4rem;
	    }

	    h2 {
	        /*font-size: 32px;*/
	        font-size: 1.2rem;
	        letter-spacing: .3rem;
	    }

	    h3 {
	        /*font-size: 26px;*/
	        font-size: 1.5rem;
	        letter-spacing: .4rem;
	    }

	    h4 {
	        /*font-size: 20px;*/
	        font-size: 1.2rem;
	    }

	    h5 {
	        /*font-size: 16px;*/
	        font-size: 1rem; 
	    }
    } 

    .overlay-inset {
    	h2 {
	        font-size: 1.0rem;
	        letter-spacing: .3rem;   
            font-weight: bold;
	    }

	    h3 {
	        font-size: 1rem;
	        letter-spacing: 0px;        
	    }
    } 

    #bg0, #bg1  {display:block;}
    #dan-fold-mobile {
        background: transparent;
    }
    /*#projects {padding-bottom: 20%;}*/
    #projects-below {padding-top: 30%;}
    #projects-bottom-box {height: 0;padding-top: 0}
    #meaningful {
        margin-top: -20%;
    }
    #footer {
        margin-bottom: 400px;
    }

} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) { 
    #header h2 {
        font-size: 2rem;
    }

    #projects-below {padding-top: 9%;}    
    #master_container {
        width: 100%;
    }
    #topLogo, #title2, #header {
        max-width: 90%;
    }
    .row {
    	h1 {
	        font-size: 8.8rem;
	    }
	    h2 {
	        font-size: 2rem;
	    }
    }

    .overlay-inset {
    	h2 {
        	font-size: 1.0rem !important;
            font-weight: bold;
        	/*letter-spacing: 1px !important;        */
    	}
    	h3 {
	        font-size: 1.2rem !important;
	        letter-spacing: 1px !important;        
	    }
    } 

} /* min-width 1025px, large screens */

