
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-chart-line:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */